<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" th:href="@{/}">Fullstockwh</a>

    <div class="dropdown">
      <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#" role="button"
         id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle fs-4 me-2"></i>
        <span sec:authorize="isAuthenticated()" th:text="${#authentication.name}">User</span>
      </a>

      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="userMenu">

        <div sec:authorize="isAnonymous()">
          <li><a class="dropdown-item" th:href="@{/login}">Log In</a></li>
          <li><a class="dropdown-item" th:href="@{/register}">Register</a></li>
        </div>

        <div sec:authorize="isAuthenticated()">
          <li><h6 class="dropdown-header">Manage Account</h6></li>
          <li><a class="dropdown-item" th:href="@{/user}">Account Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <form th:action="@{/logout}" method="post" class="m-0">
              <button type="submit" class="dropdown-item text-danger">Log Out</button>
            </form>
          </li>
        </div>

      </ul>
    </div>
  </div>
</nav>

</body>
</html>